### macOS ###
*.DS_Store

### VisualStudioCode ###
.vscode/*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# pyenv
.python-version

# SAM default build folder
.aws-sam/

# dotenv environment variables file
.env