$govuk-new-organisation-colours: true;
@import "govuk-frontend/dist/govuk/index.scss";
body{
    font-family: "GDS Transport", arial, sans-serif;
}

.proccessing-data-pannel{
    background-color: govuk-color("blue");
    color: govuk-color("white")
}


#header-link{
    // disable on :hover 
    // disble on click color will-change
    &:hover, &:active, &:focus, &:visited {
        color:govuk-color("white");
        background-color: govuk-color("black");
    }

}


.paginated-results a {
   &:visited{
    color: govuk-color("blue");
  }
}


.border {
    border: 1px solid govuk-color("grey");
    margin: 10px;
    border-radius: 3;
    padding: 10px;
    
}

.current-page {
    background-color: govuk-color("yellow");
    border-bottom: govuk-color("black") 4px solid;
    text-decoration: none;
    
}
li.three-dots{
    color: govuk-color("blue");
    // text in the in middle vertically
    line-height:20px;

}
