{
    "Parameters": {
        "MS_TENANT_ID": "",
        "MS_CLIENT_ID": "",
        "OTC_API_URL": "",
        "MS_LOGIN_URL": "",
        "MS_SCOPE": "",
        "OTC_CLIENT_SECRET": "",
        "OTC_API_KEY": ""
    }
}